.side-bar
  .side-header
    .side-header__box
      %p.side-header__box__username
        大野
      %ul.side-header__box__menu
        %li.side-header__box__edit-user 
          = link_to "#" do
            = icon('fas','edit')
        %li.side-header__box__new-group
          = link_to "#" do
            = icon('fas','cog')
  .groups
    .group
      %p.group__groups-name
      　嵐
      %p.group__latest-message
      　人気ですね
    


